h1{
	background-color: #696969;
	color: #FFFAF0;
	padding-left: 10px;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
	
}

body{
	background-color: #8d382f;
	color: #FDFEFE;
}

img{
	padding-top: 30px;
	
}

p{
	background-color: #696969;
	color: #FFFAF0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;

	
}
	
ul{
	background-color: #696969;
	color: #FFFAF0;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

}

h2{
	text-align: center;
	
}

h3{
	text-align:center;
}

footer{
	background-color: #F1948A;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}

.column {
	float: left;
	width: 45%;
	outline-stype: solid;


  }

.row:after {
	content: "";
	display: table;
	clear: both;
	padding: 15px;
}

.left, .right {
	width: 50%;
  }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgb(54, 52, 52);
    text-align: center;
}

.row {
	padding: 5px;
}

.tab button:hover{
    background-color: rgb(16, 199, 245);
  }

.tab button{
    background-color: rgb(54, 52, 52);
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
    color: white;
  }

.tab button.active {
    background-color: greenyellow;
 }


